{% extends "template.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

    {{ pagename }}
    {% if name %}
       Welcome {{ name }}
    {% else %}
       Welcome Stranger
    {% endif %}
    <form method="post">
        {{ form.name.label }}
    {{form.name()}}
    {{ form.submit() }}
    {{ form.hidden_tag() }}
    {% for error in form.name.errors%}
         error
    {% endfor %}
    </form>


{% endblock %}

</body>
</html>